services:
  - type: web
    name: DaCouchBot
    env: node
    plan: free
    region: oregon
    branch: main
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: TOKEN
        value: "MTQzODM0NDc1NTU5NDM5NTY2MA.GrlwD4.bHOew0IX5xpr9skFlMwlUZUnX4A3h9oWXiGoKo"
      - key: CLIENT_ID
        value: "1438344755594395660"
      - key: PREFIX
        value: "!"
      - key: LAVALINK_HOST
        value: "https://lavalink-render-c22x.onrender.com/"
      - key: LAVALINK_PORT
        value: "2333"
      - key: LAVALINK_PASSWORD
        value: "youshallnotpass"
